@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
/* 
	Fonts:

	font-family: 'Roboto', sans-serif;
*/

:root {
	--carbon: #171a21;
	--metal: #1a293a;
	--steam: #c5c3c0;
	--sea: #2a475e;
	--sky: #66c0f4;
	--algae: #5c7e10;
}

/* * * * * * * * * * * *
	General
* * * * * * * * * * * */
body {
	background-color: var(--metal);
	color: var(--steam);
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
}

a, a:visited {
	color: var(--steam);
	text-decoration: none;
}

a:hover {
	color: white;
}

.logo {
	font-weight: bolder;
	text-align: center;
}

.container {
	width: 50%;
	margin: auto;
	
	display: flex;
	justify-content: space-between;
}

.green {
	background-color: var(--algae);
	color: var(--steam);
}

/* * * * * * * * * * * *
	Header
* * * * * * * * * * * */
header {
	background-color: var(--carbon);
	padding: 1em;
}

header ul {
	text-align: center;
}

header li {
	display: inline;
	text-align: center;
	padding: 0 1em;
}


/* * * * * * * * * * * *
	Hero
* * * * * * * * * * * */
#hero {
	min-height: 30vh;
	width: 100%;
	background-color: rgb(214, 61, 0);
}

/* * * * * * * * * * * *
	Main
* * * * * * * * * * * */
#center {
	display: flex;
	justify-content: space-between;
}

/* Aside */
aside {
	flex-grow: 1;
	margin: 2em;
	margin-right: .5em;
}

aside a, aside a:visited {
	color: var(--sky);
}

aside a:hover {
	color: white;
}

main {
	flex-grow: 4;
}

#dummy {
	flex-grow: 1;

	margin: 2em;
	padding: 2em;
}
/* * * * * * * * * * * *
	Game
* * * * * * * * * * * */
.game {
	display: flex;
	background-color: var(--carbon);

	margin: 2em;
	box-shadow: 5px 5px 5px black;
}

.game img {
	flex-grow: 3;
}

.game div {
	flex-grow: 2;

	padding: 2em;

	display: flex;
	flex-direction: column;
}

.game p {
	width: 60%;
	margin: 0;
}


/* * * * * * * * * * * *
	Footer
* * * * * * * * * * * */
footer {
	background-color: var(--carbon);
	padding: 1em;
}